<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Geolocalizacion</title>
    <% include partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <% if(user){ %>
                    <h1><span class="fa fa-lock"></span> Login or Sing Up</h1>
                    <a href="/auth/login" class="btn btn-light btn-lg">
                        <span class="fa fa-user"></span> Login or Sign Up
                    </a>
                <% } else{ %>  
                    <p>you're logged in</p>
                <% } %>
            </div>
            
        </div>
    </div>
    
</body>
</html>