<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/head %>
</head>
<body class="login">
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-sign-in"></span> Login
                    </h1>
                    <main>
                        <a class="google-btn" href="/google">Google+</a>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>
</html>