<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile page</title>
    <% include partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Set the size of the div element that contains the map */
       #map {
         height: 400px;  /* The height is 400 pixels */
         width: auto;  /* The width is the width of the web page */
        }
     </style>
    
</head>
<body onload="updateClock(), getLocation(), updateDate()"> 
    <div class="container">
        <header class="text-center">
            <h1>Profile page</h1>
            <a href="/logout" class="btn btn-light btn-sm">
                logout
            </a>
        </header>

        <hr>

        <div class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <span class="fa fa-user"></span> <%= user.email%>
                        </h3>
                        <p id="tiempo"></p>
                        <p id="fecha"></p>
                        <p id="coordenadas"></p>
                        <form id="info" name="geolocation">
                            <input type="hidden" name="email" value="">
                            <input type="hidden" name="latitude" value="">  
                            <input type="hidden" name="longitude" value="">
                            <input type="button" value="Tomar" onclick="saveLocation()">
                        </form>
                        <a href="/logout" class="btn btn-light"></a>
                    </div>

                </div>
                <div>
                    <h3>Mis recorridos</h3>
                    <!--The div element for the map -->
                    <div id="map" style="position: relative; margin: left;"></div>
                </div>
            </div>
            
        </div>
        
    </div>

    
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="public/js/profile.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3rv19hs2bnXl941hjz9_BICT6MZa_HkY&callback=initMap">
    </script>
</body>
</html>